p {
  font-size:20px;
  font-family:"Arial" sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px;
}
.section {
 text-align: center;
 font-size: 100px ;
 font-family: "Comic Sans" sans-serif;
}
img {
  border: 5px;
  border-radius: 20px;
}
h2 {
  font-size:20px;
  font-family:"Arial" sans-serif;
  display: flex;
  justify-content: center;
}
